@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html {
  font-size: 100%;
}

:root {
  --bg-Color1: #2a3b40;
  --bg-Color2: #d4d8d9;
  --linkColor: #d1d5d6;
  --colorText1: #ad6c12;
  --colorText2: #2c3a42;
  --colorText3: #304751;
}

.section-effect {
  transition: ease all 0.9s;
}

.section-effect:hover {
  cursor: pointer;
  transform: translateY(-5%);
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.3);
}

/* ********************************************************** Main ********************************************************** */

.main {
  width: 100%;
  height: 100vh;
  background-image: url("headerimage.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* ********************************************************** Navbar ********************************************************** */

.navbar {
  z-index: 1;
  width: 100%;
  height: auto;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.navbar-brand {
  font-size: 1.6rem;
  font-weight: bolder;
  letter-spacing: 0.05rem;
  transition: ease all 0.6s;
  color: rgba(0, 0, 0, 0.6) !important;
}

.navbar-brand:hover {
  color: black !important;
  text-shadow: 0.2rem 0.2rem 0.1rem var(--linkColor);
}

.navbar-dark .navbar-toggler {
  border-color: rgba(0, 0, 0, 0.3) !important;
}

.navbar-toggler span {
  color: rgba(0, 0, 0, 0.6) !important;
}

.nav-item a {
  font-size: 1.2rem;
  font-weight: bolder;
  letter-spacing: 0.1rem;
  color: rgba(0, 0, 0, 0.8) !important;
  transition: ease all 0.8s;
}

.nav-item a:hover {
  letter-spacing: 0.2rem;
  color: rgba(0, 0, 0, 0.4) !important;
  text-decoration: 0.2rem underline var(--linkColor);
}

.main-content {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.main-center {
  width: 100%;
  height: 65vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(209, 213, 214, 0.7);
}

.main-center h1 {
  font-size: 4rem;
  letter-spacing: 0.05rem;
  color: var(--colorText2);
  font-family: "Cookie", cursive;
}

.main-center h2 {
  font-size: 3.4rem;
  font-weight: bold;
  margin: 0rem 2rem;
  letter-spacing: 0.05rem;
  color: var(--colorText1);
}

.main-center a {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 1rem 0rem;
  text-decoration: none;
  padding: 0.2rem 1.6rem;
  letter-spacing: 0.09rem;
  color: var(--colorText2);
  transition: ease all 0.6s;
  background-color: white;
}

.main-center a:hover {
  color: white;
  letter-spacing: 0.12rem;
  background-color: var(--colorText2);
}

/* ********************************************************** Next Section ********************************************************** */

.next-section {
  width: 100%;
  height: auto;
  padding: 5rem 0rem;
  background-color: var(--bg-Color1);
}

.next-section h2 {
  color: white;
}

.next-section p {
  color: white;
}

/* ********************************************************** Next Next Section ********************************************************** */

.next-second-section {
  width: 100%;
  height: auto;
  padding: 4rem 0rem;
}

.next-second-section .circle div {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--bg-Color1);
}

.next-second-section h3 {
  font-weight: bold;
  color: var(--bg-Color1);
}

.next-second-section p {
  color: var(--bg-Color1);
}

/* ********************************************************** Plate Section ********************************************************** */

.plate-section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("bgimage.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.plate-content .heading1 {
  font-size: 4rem;
  letter-spacing: 0.05rem;
  color: var(--colorText2);
  font-family: "Cookie", cursive;
}

.plate-content .heading2 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0rem 2rem;
  letter-spacing: 0.05rem;
  color: var(--colorText1);
}

.plate-content {
  width: 90vw;
  height: auto;
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 1rem;
  box-shadow: 0.1rem 0.4rem 2rem rgba(0, 0, 0, 0.4);
}

/* ********************************************************** Fourth Section ********************************************************** */

.fourth-section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg-Color1);
}

.fourth-section .circle div {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--bg-Color1);
}

.other-menus ul {
  padding-left: 0;
}

.other-menus li {
  list-style: none;
}

.other-menus li a {
  text-decoration: none;
  color: var(--bg-Color1);
  padding: 0rem 1.2rem;
}

/* ********************************************************** Fifth Section ********************************************************** */

.fifth-section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("bgimage2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.fifth-content .heading3 {
  font-size: 4rem;
  letter-spacing: 0.05rem;
  color: var(--colorText2);
  font-family: "Cookie", cursive;
}

.fifth-content .heading4 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0rem 2rem;
  letter-spacing: 0.05rem;
  color: var(--colorText1);
}

.fifth-content {
  width: 100vw;
  height: auto;
  background-color: rgb(255, 255, 255, 0.8);
}

.fifth-content span {
  color: var(--colorText3);
  font-weight: bold;
}

.fifth-content p {
  color: var(--colorText3);
  font-weight: lighter;
}

/* ********************************************************** Contact Section ********************************************************** */

.contact-section {
  width: 100%;
  height: auto;
  color: white;
  background-color: var(--bg-Color1);
}

.contact-section h1 {
  font-size: 4rem;
  letter-spacing: 0.05rem;
  color: white;
  font-family: "Cookie", cursive;
}

.contact-section h6 {
  font-weight: bolder;
}

.contact-section input {
  background-color: transparent !important;
  border-color: white;
}

.contact-section input::placeholder {
  color: white;
  font-weight: lighter;
}

.contact-section .form-control {
  color: white;
}

.contact-section .form-control:focus {
  border-color: white;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;
  filter: invert(0.8);
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;
  filter: invert(0.8);
}

input[type="time"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}

.submitbtn a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  border: 0.2rem solid white;
  padding: 0.4rem 4rem;
  letter-spacing: 0.2rem;
  transition: ease all 0.6s;
}

.submitbtn a:hover {
  color: var(--bg-Color1);
  background-color: white;
}

/* ********************************************************** About Section ********************************************************** */

.about-section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg-Color1);
}

.other-menus-second ul {
  padding-left: 0;
}

.other-menus-second li {
  list-style: none;
}

.other-menus-second li a {
  text-decoration: none;
  color: var(--bg-Color1);
  padding: 0rem 1rem;
}

/* ********************************************************** About part ********************************************************** */

.about-part {
  width: 100%;
  height: auto;
  color: white;
  background-color: var(--bg-Color1);
}

.about-part h4 {
  font-weight: bolder;
}

.about-part h6,
.about-part p {
  font-weight: lighter;
}

/* ********************************************************* Media Responsive ********************************************************* */
@media (max-width: 1024px) {
  html {
    font-size: 95%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 85%;
  }
  .fifth-content h5 {
    text-align: center;
  }
  .fifth-content p {
    text-align: center;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 280px) {
  html {
    font-size: 75%;
  }
}
